body {
	background-color: #F5F5F5;
	color: #141414;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	display:block;
	background-color: #000000;
	color: #FF8303;
	height: 115px;
	text-align: center;
	padding-top: 30px;
	padding-left: 3em;
}

nav {
	display:block;
	font-weight: bold;
	padding: 1.5em 1.5em 1.5em 1.5em;
	font-size: 120%;
	float: left;
	width: 160px;
	line-height: 1.5;
}

nav a {
	text-decoration: none;
}

h2 {
	color: #141414;
	font-family: Georgia, "Times New Roman", serif;
	text-shadow: 1px 1px #CCCCCC;
	text-align: center;
}

dt {
	color: #141414;
	text-align: center;
}

dd {
	color: #141414;
	text-align: center;
}

table, th, td {
	border: 1px solid black;
}

.Barn {
	color: #141414;
	font-weight: bold;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	margin-bottom: 0;
	font-size: 3em;
	font-family: Georgia, "Times New Roman", serif;
	letter-spacing: 0.25em;
	margin-top: 0;
}

h3 {
	font-family: Georgia, "Times New Roman", serif;
}

main ul {
	list-style-image: url('marker.gif');
	list-style-type: none;
	margin: 0;
	padding-left: 0px;
	font-size: 1.2em;
}

a:link {
	color: #141414;
}

a:visited {
	color: Grey;
}

a:hover {
	color: #FF8303;
}

footer {
	display:block;
	font-size: 75%;
	font-style: italic;
	font-family: Georgia, "Times New Roman", serif;
	text-align: center;
	padding: 15px 15px 15px 15px;
	margin-left: 190px;
	background-color: #FFFFFF;
}

#contact {
	font-size: 90%;
}

#wrapper {
	max-width: 2050px;
	min-width: 900px;
	margin: auto;
	width: 80%;
	background-color: #FF8303;
	box-shadow: 4px 4px #133926;
	background-image: linear-gradient(#F5F5F5, #FF8303);
	border: 1.5px solid #003300;
}

main {
	padding-top: 1px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	display: block;
	background-color: #F5F5F5;
	margin-left: 190px;
}

#heroHome {
	height: 300px;
	background-image: url("flogo.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;
}

#heroTutorial {
	height: 300px;
	background-image: url("fltutorial.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;
}

#heroPlugins {
	height: 300px;
	background-image: url("flpluginss.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;
}

#heroVSTs {
	height: 300px;
	background-image: url("flvsts.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;
}

* {
	box-sizing: border-box;
}

figure {
	display:block;
}

figcaption {
	display:block;
}

aside {
	display:block;
}

section {
	display:block;
}

article {
	display:block;
}

#mobile {
	display: none;
}

#desktop {
	display: inline;
}

@media only screen and (max-width: 64em) {
header {
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 0;
	height: auto;
}

body {
	margin: 0;
	background-color: #FFFFFF;
}

main {
	margin-left: 0;
}

main ul {
	display: inline;
	padding-top: .25em;
	padding-bottom: .25em;
	padding-left: .75em;
	padding-right: .75em;
}

h1 {
	letter-spacing: .1em;
}

nav {
	float: none;
	width: auto;
	text-align: center;
	padding: .5em;
}

#wrapper {
	min-width: 0;
	width: auto;
	box-shadow: none;
	border: none;
}

footer {
	margin-left: 0;
}

#heroHome {
	margin-left: 0;
	height: 200px;
}

#heroBoard {
	margin-left: 0;
	height: 0;
}

#heroTraining {
	margin-left: 0;
	height: 0;
}
}

@media only screen and (max-width: 64em) {
main {
	padding-top: .1em;
	padding-bottom: .1em;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 90%;
}

main ul {
	display: block;
	margin: 0;
	border-bottom: 2px solid #330000;
}

h1 {
	font-size: 2em;
}

nav {
	padding: 0;
}

nav a {
	display: block;
}

#homehero {
	display: none;
	background-image: none;
	height: 0;
}

#yurthero {
	display: none;
	background-image: none;
	height: 0;
}

trailhero {
	display: none;
	background-image: none;
	height: 0;
}

#mobile {
	display: inline;
}

#desktop {
	display: none;
}
}